.cta-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}


.cta {
    background-color: var(--dark-blue);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cta-section-text  {
    color: var(--white);
    padding-bottom: 1rem;
}


.cta-section-button > button {
    background-color: var(--dark-blue);
    border: 2px solid var(--white);
    font-size: 0.8125rem;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 32px;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all ease-in-out 200ms;
  }
  
  .cta-section-button > button:hover {
    background-color: #0a98c0;
  }

  @media (max-width: 768px) {
    .cta-container{
        flex-direction: column;
    }

    .cta-section-text{
        text-align: center
    }
  };