* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --dark-blue: #413e66;
  --blue: #1bb1dc;
  --very-light-blue: #f5f8fd;
  --white: #ffffff;
}

html {
  scroll-behavior:smooth
}

body,
html {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5,
h6, p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

/*
Color Palette:

*/
